In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("../Datasets/ChatLuongNuoc.csv")
df.head()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7999 non-null   float64
 1   ammonia      7999 non-null   object
 2   arsenic      7999 non-null   float64
 3   barium       7999 non-null   float64
 4   cadmium      7999 non-null   float64
 5   chloramine   7999 non-null   float64
 6   chromium     7999 non-null   float64
 7   copper       7999 non-null   float64
 8   flouride     7999 non-null   float64
 9   bacteria     7999 non-null   float64
 10  viruses      7999 non-null   float64
 11  lead         7999 non-null   float64
 12  nitrates     7999 non-null   float64
 13  nitrites     7999 non-null   float64
 14  mercury      7999 non-null   float64
 15  perchlorate  7999 non-null   float64
 16  radium       7999 non-null   float64
 17  selenium     7999 non-null   float64
 18  silver       7999 non-null   float64
 19  uranium      7999 non-null   float64
 20  is_safe      7999 non-null   object
dtypes: float64(19), object(2)
memory usage: 1.3+ MB

In [4]:
#Check if dataset has missing values

has_missing_values = df.isnull().any().any()

if has_missing_values:
    print("The dataset has missing values.")
else:
    print("The dataset has no missing values.")

The dataset has no missing values.

In [5]:
unique_values = df.iloc[:, 20].unique()

for value in unique_values:
    print(value)

1
0
#NUM!

In [8]:
df = df[~df.applymap(lambda x: x == '#NUM!').any(axis=1)]

# Reset the index to ensure it's continuous
df.reset_index(drop=True, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7996 entries, 0 to 7995
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7996 non-null   float64
 1   ammonia      7996 non-null   object
 2   arsenic      7996 non-null   float64
 3   barium       7996 non-null   float64
 4   cadmium      7996 non-null   float64
 5   chloramine   7996 non-null   float64
 6   chromium     7996 non-null   float64
 7   copper       7996 non-null   float64
 8   flouride     7996 non-null   float64
 9   bacteria     7996 non-null   float64
 10  viruses      7996 non-null   float64
 11  lead         7996 non-null   float64
 12  nitrates     7996 non-null   float64
 13  nitrites     7996 non-null   float64
 14  mercury      7996 non-null   float64
 15  perchlorate  7996 non-null   float64
 16  radium       7996 non-null   float64
 17  selenium     7996 non-null   float64
 18  silver       7996 non-null   float64
 19  uranium      7996 non-null   float64
 20  is_safe      7996 non-null   object
dtypes: float64(19), object(2)
memory usage: 1.3+ MB

In [10]:
df = df.astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7996 entries, 0 to 7995
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7996 non-null   float64
 1   ammonia      7996 non-null   float64
 2   arsenic      7996 non-null   float64
 3   barium       7996 non-null   float64
 4   cadmium      7996 non-null   float64
 5   chloramine   7996 non-null   float64
 6   chromium     7996 non-null   float64
 7   copper       7996 non-null   float64
 8   flouride     7996 non-null   float64
 9   bacteria     7996 non-null   float64
 10  viruses      7996 non-null   float64
 11  lead         7996 non-null   float64
 12  nitrates     7996 non-null   float64
 13  nitrites     7996 non-null   float64
 14  mercury      7996 non-null   float64
 15  perchlorate  7996 non-null   float64
 16  radium       7996 non-null   float64
 17  selenium     7996 non-null   float64
 18  silver       7996 non-null   float64
 19  uranium      7996 non-null   float64
 20  is_safe      7996 non-null   float64
dtypes: float64(21)
memory usage: 1.3 MB

In [11]:
df.describe()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
count,7996.000000,7996.000000,7996.000000,7996.000000,7996.000000,7996.000000,7996.000000,7996.000000,7996.000000,7996.000000,...,7996.000000,7996.000000,7996.000000,7996.000000,7996.000000,7996.000000,7996.000000,7996.000000,7996.000000,7996.000000
mean,0.666396,14.278212,0.161477,1.567928,0.042803,2.177589,0.247300,0.805940,0.771646,0.319714,...,0.099431,9.819250,1.329846,0.005193,16.465266,2.920106,0.049684,0.147811,0.044672,0.114057
std,1.265323,8.878930,0.252632,1.216227,0.036049,2.567210,0.270663,0.653595,0.435423,0.329497,...,0.058169,5.541977,0.573271,0.002967,17.688827,2.322805,0.028773,0.143569,0.026906,0.317900
min,0.000000,-0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.040000,6.577500,0.030000,0.560000,0.008000,0.100000,0.050000,0.090000,0.407500,0.000000,...,0.048000,5.000000,1.000000,0.003000,2.170000,0.820000,0.020000,0.040000,0.020000,0.000000
50%,0.070000,14.130000,0.050000,1.190000,0.040000,0.530000,0.090000,0.750000,0.770000,0.220000,...,0.102000,9.930000,1.420000,0.005000,7.745000,2.410000,0.050000,0.080000,0.050000,0.000000
75%,0.280000,22.132500,0.100000,2.482500,0.070000,4.240000,0.440000,1.390000,1.160000,0.610000,...,0.151000,14.610000,1.760000,0.008000,29.487500,4.670000,0.070000,0.240000,0.070000,0.000000
max,5.050000,29.840000,1.050000,4.940000,0.130000,8.680000,0.900000,2.000000,1.500000,1.000000,...,0.200000,19.830000,2.930000,0.010000,60.010000,7.990000,0.100000,0.500000,0.090000,1.000000

CHUYỂN ĐỔI SANG NHỊ PHÂN NHƯ ĐƯỢC MÔ TẢ TRONG MÔ TẢ DỮ LIỆU

aluminium - Nguy hiểm nếu như hơn 2.8
ammonia - Nguy hiểm nếu như hơn 32.5
arsenic - Nguy hiểm nếu như hơn 0.01
barium - Nguy hiểm nếu như hơn 2
cadmium - Nguy hiểm nếu như hơn 0.005
chloramine - Nguy hiểm nếu như hơn 4
chromium - Nguy hiểm nếu như hơn 0.1
copper - Nguy hiểm nếu như hơn 1.3
flouride - Nguy hiểm nếu như hơn 1.5
bacteria - Nguy hiểm nếu như hơn 0
viruses - Nguy hiểm nếu như hơn 0
lead - Nguy hiểm nếu như hơn 0.015
nitrates - Nguy hiểm nếu như hơn 10
nitrites - Nguy hiểm nếu như hơn 1
mercury - Nguy hiểm nếu như hơn 0.002
perchlorate - Nguy hiểm nếu như hơn 56
radium - Nguy hiểm nếu như hơn 5
selenium - Nguy hiểm nếu như hơn 0.5
silver - Nguy hiểm nếu như hơn 0.1
uranium - Nguy hiểm nếu như hơn 0.3
is_safe - class attribute {0 - not safe, 1 - safe}

In [12]:
df[df.columns[0]] = df[df.columns[0]].apply(lambda x: 0.0 if x > 2.8 else 1.0)
df[df.columns[1]] = df[df.columns[1]].apply(lambda x: 0.0 if x > 32.5 else 1.0)
df[df.columns[2]] = df[df.columns[2]].apply(lambda x: 0.0 if x > 0.01 else 1.0)
df[df.columns[3]] = df[df.columns[3]].apply(lambda x: 0.0 if x > 2 else 1.0)
df[df.columns[4]] = df[df.columns[4]].apply(lambda x: 0.0 if x > 0.005 else 1.0)
df[df.columns[5]] = df[df.columns[5]].apply(lambda x: 0.0 if x > 4 else 1.0)
df[df.columns[6]] = df[df.columns[6]].apply(lambda x: 0.0 if x > 0.1 else 1.0)
df[df.columns[7]] = df[df.columns[7]].apply(lambda x: 0.0 if x > 1.3 else 1.0)
df[df.columns[8]] = df[df.columns[8]].apply(lambda x: 0.0 if x > 1.5 else 1.0)
df[df.columns[9]] = df[df.columns[9]].apply(lambda x: 0.0 if x > 0 else 1.0)
df[df.columns[10]] = df[df.columns[10]].apply(lambda x: 0.0 if x > 0 else 1.0)
df[df.columns[11]] = df[df.columns[11]].apply(lambda x: 0.0 if x > 0.015 else 1.0)
df[df.columns[12]] = df[df.columns[12]].apply(lambda x: 0.0 if x > 10 else 1.0)
df[df.columns[13]] = df[df.columns[13]].apply(lambda x: 0.0 if x > 1 else 1.0)
df[df.columns[14]] = df[df.columns[14]].apply(lambda x: 0.0 if x > 0.002 else 1.0)
df[df.columns[15]] = df[df.columns[15]].apply(lambda x: 0.0 if x > 56 else 1.0)
df[df.columns[16]] = df[df.columns[16]].apply(lambda x: 0.0 if x > 5 else 1.0)
df[df.columns[17]] = df[df.columns[17]].apply(lambda x: 0.0 if x > 0.5 else 1.0)
df[df.columns[18]] = df[df.columns[18]].apply(lambda x: 0.0 if x > 0.1 else 1.0)
df[df.columns[19]] = df[df.columns[19]].apply(lambda x: 0.0 if x > 0.3 else 1.0)

In [20]:
df.head()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
1,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
4,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0

In [21]:
df.to_csv('Water_Quality_preprecessing.csv')

In [14]:
X = df.drop(['is_safe'], axis = 1)
Y = df['is_safe']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, stratify = Y, random_state = 42)
print(X_train.shape, y_train.shape)

(5597, 20) (5597,)

In [15]:
scaler = StandardScaler()
scaler.fit(X_train)
scaler.fit(X_test)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [16]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)
print(X_train_scaled, X_test_scaled)

[[ 0.35262888  0.         -0.41283263 ...  0.          0.80264691
   0.        ]
 [ 0.35262888  0.          2.42228914 ...  0.          0.80264691
   0.        ]
 [ 0.35262888  0.         -0.41283263 ...  0.          0.80264691
   0.        ]
 ...
 [-2.8358426   0.         -0.41283263 ...  0.         -1.24587784
   0.        ]
 [ 0.35262888  0.         -0.41283263 ...  0.          0.80264691
   0.        ]
 [ 0.35262888  0.         -0.41283263 ...  0.         -1.24587784
   0.        ]] [[ 0.33648931  0.         -0.42018702 ...  0.          0.81536256
   0.        ]
 [ 0.33648931  0.         -0.42018702 ...  0.         -1.22644827
   0.        ]
 [ 0.33648931  0.         -0.42018702 ...  0.         -1.22644827
   0.        ]
 ...
 [ 0.33648931  0.          2.37989262 ...  0.          0.81536256
   0.        ]
 [ 0.33648931  0.          2.37989262 ...  0.          0.81536256
   0.        ]
 [-2.97186258  0.         -0.42018702 ...  0.          0.81536256
   0.        ]]

In [17]:
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
# Define a list of kernel functions to try
kernel_functions = ['linear', 'poly', 'rbf', 'sigmoid']

# Iterate over the different kernel functions and train/test SVM models
for kernel in kernel_functions:
    print(f"Kernel: {kernel}")

    svm_classifier = SVC(kernel=kernel)
    svm_classifier.fit(X_train, y_train)

    predictions = svm_classifier.predict(X_test)

    accuracy = accuracy_score(y_test, predictions)

    print(f"Accuracy: {accuracy}")

    print()

Kernel: linear
Accuracy: 0.885785744060025

Kernel: poly
Accuracy: 0.9053772405168821

Kernel: rbf
Accuracy: 0.9012088370154231

Kernel: sigmoid
Accuracy: 0.8516048353480616

In [ ]:
model = keras.Sequential([
    keras.layers.Flatten(input_shape=(20,)),
    keras.layers.Dense(128, activation='relu'),
    keras.layers.Dense(64, activation='relu'),  # Hidden layer
    keras.layers.Dense(2, activation='softmax')  # Output layer
])
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
history = model.fit(X_train, Y_train, epochs=50, batch_size=4, validation_data=(X_test, Y_test))

In [ ]:
# Assuming 'history' contains the training history
val_accuracy = history.history['val_accuracy']

mean_val_accuracy = np.mean(val_accuracy)

print("Mean Validation Accuracy:", mean_val_accuracy)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix


clf = DecisionTreeClassifier()

clf.fit(X_train, y_train)

Y_pred = clf.predict(X_test)

accuracy = accuracy_score(y_test, Y_pred)
print("Accuracy:", accuracy)

classification_rep = classification_report(y_test, Y_pred)
print("Classification Report:\n", classification_rep)

confusion = confusion_matrix(y_test, Y_pred)
print("Confusion Matrix:\n", confusion)

Accuracy: 0.8841183826594414
Classification Report:
               precision    recall  f1-score   support

         0.0       0.91      0.97      0.94      2125
         1.0       0.49      0.25      0.33       274

    accuracy                           0.88      2399
   macro avg       0.70      0.61      0.63      2399
weighted avg       0.86      0.88      0.87      2399

Confusion Matrix:
 [[2053   72]
 [ 206   68]]